main {
  width:400px; 
  margin:20px auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 2px solid green;
  justify-content: center;
  border-radius: 10px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}